
<form action="/Products/ResultSearch">
    <lable>Từ khóa tiềm kiếm: </lable>
    <input placeholder="Nhập tên sản phẩm cần tiềm kiếm" type="search" name="searchString" id="searchString" />
    <button type="submit">Tìm kiếm</button>
</form>